.modal-inner {
    display: flex;
    flex-direction: column;
    /* By defaul flex is in row direction*/
    align-items: center;
}

.modal-inner {
    font-weight: 500;
    font-size: large;
}

.modal-inner button {
    background-color: #67f95ce3;
    border-radius: 2px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 88%;
    margin-top: -20px;
}

.modal-inner button:hover {
    transform: scale(0.94);
    transition: .2s;
}

.take-home-button {
    border: 2px solid #11f511;
    padding: 4px 8px;
    border-radius: 4px;
    /* font-weight: bold; */
    display: flex;
    color: #11f511;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.take-home-button:hover {
    background-color: #67f95ce3;
    color: #6739B7;
    transform: scale(0.95);
    /* font-weight: 600; */
    transition: 0.37s;
    /* cursor: pointer; */
}

.take-home-button svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.added-image {
    height: 360px;
}

@media only screen and (max-width: 1024px) {
    .added-image {
        height: 310px;
    }

    .modal-inner button {
        background-color: #67f95ce3;
        border-radius: 2px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 98%;
        margin-top: -32px;
    }
}

@media only screen and (max-width: 512px) {
    .added-image {
        height: 240px;
    }

    .modal-inner {
        font-weight: 500;
        font-size: medium;
    }

    .modal-inner {
        font-weight: 500;
        font-size: medium;
    }
}