footer {
    text-align: center;
    background-color: #3c2b5a;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
